<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{secured/layouts/master-page-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/supplier/supplier.css}" />
    <title>The Golden Dome Market - SRM - Browsing List of Suppliers</title>
</head>
<body>
    <th:block layout:fragment="content">
        <div>
            <span style="font-size: 1.5em">List of Suppliers</span>
            <span style="float:right;">
                <a class="btn btn-outline-primary btn-lg" href="/srm/secured/supplier/new">Add a New Supplier</a>
            </span>
        </div>
        <p>&nbsp;</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Supplier Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Phone</th>
                </tr>
            </thead>
            <tbody>
            	<!-- Alternative non-obstrusive js solution for <tr onclick>:
            		HTML markup: <tr data-href="some-url">
            		JS function using JQuery: $('tr[data-href]').on("click", function() {
    											document.location = $(this).data('href');
											});
            	 -->
                <!--<tr class="datarow" th:each="supplier,iterStat : ${suppliers}" th:onclick="@{document.location='/srm/secured/supplier/edit/{supplierId}'(supplierId=${supplier.supplierId})}">-->
                <tr class="datarow" th:each="supplier, iterStat : ${suppliers}" th:onclick="@{document.location='#'}">
                    <th scope="row" th:text="${iterStat.count}+'.'"></th>
                    <td th:text="${supplier.supplierNumber}"></td>
                    <td th:text="${supplier.name}"></td>
                    <td th:text="${supplier.contactPhoneNumber}"></td>
                </tr>
            </tbody>
        </table>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>
</html>